doctype html
html(lang="vi")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1.0")
		title Osls
		link(rel="icon" href="https://www.flaticon.com/svg/static/icons/svg/891/891257.svg")
		link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/scroll3@1.0.1/scroll3.min.css")
		link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/tieens@1.0.8/fontawesome.min.css")
		script(src="//cdn.jsdelivr.net/npm/mithril@2.0.4/mithril.min.js")
		script(src="//cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js")
		script(src="//cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js")
		script(src="//cdn.jsdelivr.net/npm/moment@2.27.0/locale/vi.min.js")
		script(src="//cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js")
		script(src="//cdn.jsdelivr.net/npm/bro-fs@0.6.0/dist/bro-fs.min.js")
		script(src="//cdn.jsdelivr.net/npm/tieens@1.0.8/livescript.min.js" dev)
		script(src="//cdn.jsdelivr.net/npm/tieens@1.0.8/stylus.min.js" dev)
		style#stylEl(css)
	body
		#appEl
		#portalsEl
		script(src="main.ls" type="ls" js)
